<div class="container">
  <h3 *ngIf="(!this.selectedSight)">Add City</h3>
  <h3 *ngIf="(this.selectedSight)">Edit City</h3>
  <div class="form-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
      <p>
        <label for="name">City Name</label>
        <input type="text" id="name" name="name" formControlName="name" required>
      </p>
      <div
        *ngIf="name?.invalid && (name?.dirty ||name?.touched)" class="alert alert-danger">
        <div *ngIf ="name.errors?.required">
          Site name is required
        </div>
      </div>
      <p>
        <label for="longitude"> longitude </label>
        <input type="text" id="longitude" name="longitude" formControlName="longitude">
      </p>
      <div
        *ngIf="longitude?.invalid && (longitude?.dirty ||longitude?.touched)" class="alert alert-danger">
        <div *ngIf ="longitude.errors?.required">
          Longitude are required
        </div>
      </div>
      <p>
        <label for="latitude"> latitude </label>
        <input type="text" id="latitude" name="latitude" formControlName="latitude">
      </p>
      <div
        *ngIf="latitude?.invalid && (latitude?.dirty ||latitude?.touched)" class="alert alert-danger">
        <div *ngIf ="latitude.errors?.required">
          Latitude are required
        </div>
      </div>
      <p>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" formControlName="description">
      </p>
      <div
        *ngIf="description?.invalid && (description?.dirty ||description?.touched)" class="alert alert-danger">
        <div *ngIf ="description.errors?.required">
          Description is required
        </div>
        <div *ngIf = "description.errors?.maxlength">
          Max length 256
        </div>
      </div>
      <p>
        <label for="color">Color </label>
        <select id="color" name="color" formControlName="color">
          <option>Select color</option>
          <option [value]="color[0]" *ngFor="let color of siteColors">
            {{color[1]}}
          </option>
        </select>
      </p>
      <div
        *ngIf="color && color?.invalid && (color?.dirty || color?.touched)" class="alert alert-danger">
        <div *ngIf ="color.errors?.required">
          Color is required
        </div>
      </div>
      <button type="submit" class="btn btn-danger" [disabled]="!addForm.valid">Submit</button>
    </form>
  </div>
</div>

